.bg-white {
  background-color: $white;
}
.bg-black {
  background-color: $black;
}
.bg-darkergrey {
  background-color: $cyber-darkergrey;
}
.bg-darkgrey {
  background-color: $cyber-darkgrey;
}
.bg-grey {
  background-color: $cyber-grey;
}
.bg-lightgrey {
  background-color: $cyber-lightgrey;
}

.img-center {
  display: block;
  margin: 0 auto;
}
