$icon-checkmark: "\e91a";
$icon-search: "\e909";
$icon-bag: "\e90e";
$icon-business: "\e90f";
$icon-contact: "\e910";
$icon-email: "\e911";
$icon-fax: "\e912";
$icon-fund: "\e913";
$icon-map: "\e914";
$icon-mind: "\e915";
$icon-mnc: "\e916";
$icon-phone: "\e917";
$icon-startup: "\e918";
$icon-chevron-small-down: "\e900";
$icon-chevron-small-left: "\e901";
$icon-chevron-small-right: "\e902";
$icon-chevron-small-up: "\e903";
$icon-chevron-thin-down: "\e904";
$icon-chevron-thin-left: "\e905";
$icon-chevron-thin-right: "\e906";
$icon-chevron-thin-up: "\e907";
$icon-menu: "\e919";
$icon-share: "\e908";
$icon-twitter: "\e90a";
$icon-instagram: "\e91b";
$icon-linkedin: "\e90b";
$icon-facebook: "\e90c";
$icon-youtube: "\e90d";
$icon2-clock: "\e800";
$icon2-calendar: "\e801";
$icon2-marker: "\e802";
$icon2-paper: "\e803";
$icon2-download: "\e804";