@font-face {
    font-family: 'cyberview';
    src:
        url('#{$font-path}/cyberview.ttf') format('truetype'),
        url('#{$font-path}/cyberview.woff') format('woff'),
        url('#{$font-path}/cyberview.svg#cyberview') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'cyberview2';
  src: url('#{$font-path}/cyberview2.eot?97113101');
  src: url('#{$font-path}/cyberview2.eot?97113101#iefix') format('embedded-opentype'),
       url('#{$font-path}/cyberview2.woff2?97113101') format('woff2'),
       url('#{$font-path}/cyberview2.woff?97113101') format('woff'),
       url('#{$font-path}/cyberview2.ttf?97113101') format('truetype'),
       url('#{$font-path}/cyberview2.svg?97113101#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"], [class*=" icon-"], [class^="icon2-"], [class*=" icon2-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.align-middle {
      vertical-align: middle;
    }
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'cyberview' !important;
}

[class^="icon2-"], [class*=" icon2-"] {
    font-family: 'cyberview2' !important;
}

.icon-checkmark {
    &:before {
        content: $icon-checkmark;
    }
}
.icon-search {
    &:before {
        content: $icon-search;
    }
}
.icon-bag {
    &:before {
        content: $icon-bag;
    }
}
.icon-business {
    &:before {
        content: $icon-business;
    }
}
.icon-contact {
    &:before {
        content: $icon-contact;
    }
}
.icon-email {
    &:before {
        content: $icon-email;
    }
}
.icon-fax {
    &:before {
        content: $icon-fax;
    }
}
.icon-fund {
    &:before {
        content: $icon-fund;
    }
}
.icon-map {
    &:before {
        content: $icon-map;
    }
}
.icon-mind {
    &:before {
        content: $icon-mind;
    }
}
.icon-mnc {
    &:before {
        content: $icon-mnc;
    }
}
.icon-phone {
    &:before {
        content: $icon-phone;
    }
}
.icon-startup {
    &:before {
        content: $icon-startup;
    }
}
.icon-chevron-small-down {
    &:before {
        content: $icon-chevron-small-down;
    }
}
.icon-chevron-small-left {
    &:before {
        content: $icon-chevron-small-left;
    }
}
.icon-chevron-small-right {
    &:before {
        content: $icon-chevron-small-right;
    }
}
.icon-chevron-small-up {
    &:before {
        content: $icon-chevron-small-up;
    }
}
.icon-chevron-thin-down {
    &:before {
        content: $icon-chevron-thin-down;
    }
}
.icon-chevron-thin-left {
    &:before {
        content: $icon-chevron-thin-left;
    }
}
.icon-chevron-thin-right {
    &:before {
        content: $icon-chevron-thin-right;
    }
}
.icon-chevron-thin-up {
    &:before {
        content: $icon-chevron-thin-up;
    }
}
.icon-menu {
    &:before {
        content: $icon-menu;
    }
}
.icon-share {
    &:before {
        content: $icon-share;
    }
}
.icon-twitter {
    &:before {
        content: $icon-twitter;
    }
}
.icon-instagram {
    &:before {
        content: $icon-instagram;
    }
}
.icon-linkedin {
    &:before {
        content: $icon-linkedin;
    }
}
.icon-facebook {
    &:before {
        content: $icon-facebook;
    }
}
.icon-youtube {
    &:before {
        content: $icon-youtube;
    }
}

.icon-clock {
    &:before {
        content: $icon2-clock;
    }
}

.icon-calendar {
    &:before {
        content: $icon2-calendar;
    }
}

.icon-marker {
    &:before {
        content: $icon2-marker;
    }
}

.icon-paper {
    &:before {
        content: $icon2-paper;
    }
}

.icon-download {
    &:before {
        content: $icon2-download;
    }
}

.icon-yes-circle {
    &:before {
        content: $icon2-yes-circle;
    }
}

.icon-legend-book {
    &:before {
        content: $icon2-legend-book;
    }
}

.icon-legend-cafeteria {
    &:before {
        content: $icon2-legend-cafeteria;
    }
}

.icon-legend-female {
    &:before {
        content: $icon2-legend-female;
    }
}

.icon-legend-gym {
    &:before {
        content: $icon2-legend-gym;
    }
}

.icon-legend-lift {
    &:before {
        content: $icon2-legend-lift;
    }
}

.icon-legend-male {
    &:before {
        content: $icon2-legend-male;
    }
}

.icon-legend-meeting {
    &:before {
        content: $icon2-legend-meeting;
    }
}

.icon-legend-mosque {
    &:before {
        content: $icon2-legend-mosque;
    }
}

.icon-legend-projector {
    &:before {
        content: $icon2-legend-projector;
    }
}

.icon-legend-stairs {
    &:before {
        content: $icon2-legend-stairs;
    }
}

.icon-link {
    &:before {
        content: $icon2-link;
    }
}
