.unit {
  display: block;
  position: absolute;
  cursor: help;

  &:hover {
    .floorplan--tooltip {
      opacity: 1;
      visibility: visible;
      margin-top: 0;
    }
  }

  > span {
    background: #616161;
    background: rgba(251, 0, 197, 0.28);
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: auto;

    -webkit-transition: background 0.25s;
    -o-transition: background 0.25s;
    transition: background 0.25s;
  }

  &[data-vacant="false"] {
    > span {
      background: #616161;
    }

    &:hover > span {
      background: lighten(#616161, 5%);
    }
  }

  &[data-vacant="true"] {
    > span {
      background: #21C358;
    }

    &:hover > span {
      background: lighten(#21C358, 5%);
    }
  }
}

.unit {
  &.size-43x43 {
    width: 43px;
    height: 43px;
  }
}

.floorplan--tooltip {
  border: 1px solid #9B9B9B;
  background: #C9C9C9;
  left: 50%;
  visibility: hidden;
  margin-left: -123px;
  opacity: 0;
  padding: 25px;
  position: absolute;
  text-align: left;
  margin-top: 2px;
  top: 100%;
  height: auto;
  width: 246px;
  z-index: 2;

  -webkit-transition: opacity 0.25s, visibility 0.25s, margin-top 0.25s;
  -moz-transition: opacity 0.25s, visibility 0.25s, margin-top 0.25s;
  -o-transition: opacity 0.25s, visibility 0.25s, margin-top 0.25s;
  transition: opacity 0.25s, visibility 0.25s, margin-top 0.25s;


  p {
    color: #000;
    line-height: 20px;
    margin-bottom: 0;
  }

  span {
    font-family: $font-xbold;

    > a {
      color: #000;

      -webkit-transition: color 0.25s;
      -o-transition: color 0.25s;
      transition: color 0.25s;

      &:hover {
        color: $cyber-green;
      }
    }
  }

  .button {
    display: block;
    margin: 20px 0 0;
  }

  &:after, &:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba(201, 201, 201, 0);
    border-color: transparent transparent #C9C9C9 transparent;
    border-width: 0 13px 10px 13px;
    margin-left: -13px;
  }

  &:before {
    border-color: rgba(155, 155, 155, 0);
    border-color: transparent transparent #9B9B9B transparent;
    border-width: 0 14px 11px 14px;
    margin-left: -14px;
  }
}