.page--subheader {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    @include breakpoint(medium) {
      li {
        display: inline-block;
        padding-right: 20px;

        + li {
          p {
            &:before {
              content: "|";
              padding-right: 20px;
            }
          }
        }
      }
    }

    a.link-text {
      font-family: $font-regular;
      font-size: 22px;
      margin-left: 25px;
      text-decoration: none;

      .icon {
        position: relative;
        top: 3px;
        left: 5px;
      }
    }
  }

  p {
    color: #000;
    font-family: $font-bold;
    font-size: 24px;

    .icon2 {
      color: #434344;
      margin-right: 16px;
    }
  }
}

.event-detail--info {
  margin-bottom: 50px;
}