.selectbox--filter {
  font-family: $font-heavy;
  position: relative;

  label {
    display: inline-block;
    position: relative;

    &:before,
    &:after {
      background: #535353;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 0;
    }

    &:before {
      content: '';
      height: 39px;
      width: 300px;
    }

    &:after {
      border-left: $input-border;
      content: $icon-chevron-thin-down;
      color: $cyber-green;
      cursor: pointer;
      font-family: 'cyberview';
      padding: 10px 15px 3px;
    }
  }

  select {
    color: #FFF;
    cursor: pointer;
    font-family: $font-heavy;
    margin-left: 10px;
    padding-right: 45px;
    position: relative;
    width: 300px;
    z-index: 1;

    option {
      background: #535353;
    }
  }
}
