.l-floorplan {
  background-color: #F0F0F0;
  padding: 50px;

  .tabs-content {
    border: none;
    text-align: center;
  }

  .floorplan-wrap {
    position: relative;
    display: block;
    margin: 0 auto;

    .floorplan-units-wrap {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    .floorplan-units {
      background: rgba(23, 234, 255, 0.5);
      position: absolute;
    }

    .floorplan-blocks {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .l-legend {
    border-top: 1px solid $cyber-darkgrey;
    margin-top: 50px;
    padding-top: 30px;
  }

  .legend {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 152px;

    .legend-item {
      display: block;
      margin: 10px 0;
      width: 170px;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          display: inline-block;
          vertical-align: middle;

          &:first-child {
            height: 46px;
            width: 46px;            
          }

          + li {
            margin-left: 10px;
            line-height: 18px;
            width: 90px;
          }

          i {
            color: #FFF;
          }

          &.unit-available {
            background-color: #21C358;
          }

          &.unit-occupied {
            background-color: #616161;
          }

          &.space-toilet {
            background-color: #2367A1;
          }

          &.space-gym {
            background-color: #5598AC;
          }

          &.space-knowledge {
            background-color: #9565A8;
          }

          &.space-meeting {
            background-color: #E56F63;
          }

          &.space-cafeteria {
            background-color: #EF9E18;
          }

          &.space-surau {
            background-color: #4FAB32;
          }

          &.space-fireescape {
            background-color: #AB4953;
          }

          &.space-lift {
            background-color: #C25797;
          }

          &.space-management {
            background-color: #46B8A6;
          }
        }
      }
    }
  }
}