.l-floorplan {
  background-color: #F0F0F0;
  padding: 50px;

  .tabs-content {
    border: none;
    text-align: center;
  }

  .floorplan-wrap {
    position: relative;
    display: block;
    margin: 0 auto;

    .floorplan-img-wrap {
      display: inline-block;
      position: relative;
    }

    .floorplan-units-wrap {
      display: none;

      @include breakpoint(large) {
        display: block;
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    .floorplan-units {
      background: rgba(23, 234, 255, 0.5);
      position: absolute;
    }

    .floorplan-blocks {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  
  .l-legend {
    display: none;

    @include breakpoint(large) {
      display: block;
      border-top: 1px solid $cyber-darkgrey;
      margin-top: 50px;
      padding-top: 30px;
    }
  }

  .legend {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 152px;

    .legend-item {
      display: block;
      margin: 10px 0;
      width: 170px;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          display: inline-block;
          vertical-align: middle;
          text-align: left;

          &:first-child {
            height: 46px;
            width: 46px;
            text-align: center;
            padding: 3px 0;
            background-color: #1C9977;
          }

          + li {
            margin-left: 10px;
            line-height: 18px;
            width: 90px;
          }

          i {
            font-size: 190%;
            line-height: 40px;
            color: #FFF;
          }

          &.unit-available {
            background-color: $floorplan-vacant;
          }

          &.unit-occupied {
            background-color: $floorplan-occupied;
          }
        }
      }
    }
  }
}