.l-contact {
  > .content-box--two {
    @include flex-grid-row-align(justify, null);
    > .columns {
      @include flex-grid-column(12, $grid-column-gutter);
    }

    > ._right {
      margin-top: 20px;
    }

    @include breakpoint(large) {
      > ._left {
        @include flex-grid-column(6, $grid-column-gutter);
      }

      > ._right {
        @include flex-grid-column(5, $grid-column-gutter);
        margin-top: 0;
      }
    }
  }

  address {
    font-style: normal;
  }

  label {
    font-family: $font-heavy;
    text-transform: uppercase;

    .label--description {
      font-family: $font-regular;
      text-transform: none;
    }
  }

  h6,
  legend {
    @extend label;
    margin-bottom: $header-margin-bottom;
  }

  textarea {
    resize: none;
  }

  [type='text'],
  [type='email'],
  select,
  .selectbox-custom:after {
    height: rem-calc(45px);
    margin-bottom: rem-calc(30px);
  }

  .selectbox-custom:after {
    line-height: rem-calc(45px);
  }

  .help-text {
    font-family: $font-regular;
  }

  .contact__name,
  .contact__tel {
    display: block;
  }

  .contact__name {
    font-family: $font-bold;
  }

  .media-object {
    a {
      @extend a;
      color: $body-font-color;
    }

    i {
      font-size: rem-calc(24px);
    }
  }
}

.l-form {
  .content-box--two {
    justify-content: space-between;

    @include breakpoint(large) {
      > ._left {
        @include flex-grid-column(5, $grid-column-gutter);
      }

      > ._right {
        @include flex-grid-column(5, $grid-column-gutter);
        margin-top: 0;
      }
    }
  }

  @include breakpoint(large) {
    &.content-form {
      label {
        margin-right: 100px;
      }
    }
  }
}

.l-register {
  > .content-box--one {
    @include flex-grid-row-align(justify, null);

    > .columns {
      @include flex-grid-column(6, $grid-column-gutter);
      margin-left: auto;
      margin-right: auto;
    }
  }

  .help-text {
    margin-top: -20px;
    text-align: right;
  }

  hr {
    margin: rem-calc(40px) auto;
  }
}

.selectbox-custom {
  position: relative;
  &:after {
    position: absolute;
    top: 0;
    right: 0;
    height: ($input-font-size + ($form-spacing * 1.5) - rem-calc(1));
    line-height: ($input-font-size + ($form-spacing * 1.5) - rem-calc(1));
    padding-right: 15px;
    padding-left: 15px;
    border-left: $input-border;
    content: $icon-chevron-small-down;
    font-family: 'cyberview';
    font-size: rem-calc(18px);
    z-index: -1;
  }
}

.checkbox-custom {
  display: table;
  position: relative;
  margin-bottom: 20px;

  [type='checkbox'],
  [type='radio'] {
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 0;
    width: rem-calc(45px);
    height: rem-calc(45px);
    opacity: 0;
    cursor: pointer;
    z-index: 1;
  }

  .input + label {
    display: table-cell;
    padding-left: rem-calc(30px);
    font-family: $font-bold;
    line-height: 1.4;
    cursor: pointer;
    margin: 0;
    vertical-align: middle;
    text-transform: none;
  }

  .input {
    position: relative;
    display: table-cell;
    background: transparent;
    border: $input-border;
    vertical-align: middle;
    width: rem-calc(45px);
    height: rem-calc(45px);
    text-align: center;
  }

  [type='checkbox']:checked + .input:before {
    font-family: 'cyberview';
    font-size: rem-calc(20px);
    color: $cyber-green;
    content: $icon-checkmark;
    line-height: rem-calc(43px);
  }
}

.radio-custom {
  @extend .checkbox-custom;

  [type='radio'] + .input {
    border-radius: 50%;
  }

  [type="radio"], .input {
    width: rem-calc(29px);
    height: rem-calc(29px);
  }

  [type='radio']:checked + .input:before {
    position: absolute;
    width: 9px;
    height: 9px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: $cyber-green;
    border-radius: 50%;
    content: '';
  }
}

.radio-type-selections {
  display: none;
}

.file-custom {
  margin-bottom: 20px;
  position: relative;

  .button {
    margin-left: 0;
    width: 200px;
  }

  .input-filename {
    text-transform: none;
    width: 250px;
    display: inline-block;
  }

  [type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .content-box {
    margin: 0;
  }
}


.l-checkbox-radio {
  padding-left: 80px;

  > legend,
  > .checkbox-custom {
    margin-left: -80px;
  }
}
