header {
  position: relative;
  background-color: $black;
}

.l-header {
  @include flex-grid-row(null, 1140px, null, true, $grid-column-gutter);
  @include flex-grid-row-align(null, middle);
  height: 50px;

  .l-header__logo {
    flex: flex-grid-column(shrink);
    padding: 5px 10px;
    height: 100%;
    //text-align: center;

    img {
      max-height: 100%;
      margin: 0;
    }
  }

  .l-header__menu {
    flex: flex-grid-column(null);
  }

  .l-header__dropdown {
    display: none;
    position: absolute;
    background-color: $black;
    top: 100px;
    right: 0;
    left: 0;
    z-index: 10;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 1px;
      background: rgba(0, 251, 65, 0);
      background: -webkit-gradient(left top, right top, color-stop(10%, rgba(0, 251, 65, 0)), color-stop(40%, #00fb41), color-stop(60%, #00fb41), color-stop(90%, rgba(0, 251, 65, 0)));
      background: linear-gradient(to right, rgba(0, 251, 65, 0) 10%, #00fb41 40%, #00fb41 60%, rgba(0, 251, 65, 0) 90%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fb41', endColorstr='#00fb41', GradientType=1 );
      content: '';
    }
  }

  .l-header__wrapper {
    @include flex-grid-row(null, 1140px, null, true, $grid-column-gutter);
  }

  .l-header__info {
    position: relative;
    flex: flex-grid-column(null);
    color: $white;
    max-width: 380px;
    padding: 20px 20px 20px 95px;
    text-align: left;

    h1,h2,h3,h4,h5,h6 {
      color: $cyber-green;
    }

    &:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      content: '';
      width: 1px;
      background: rgba(0,251,67,1);
      background: -moz-linear-gradient(top, rgba(0,251,67,1) 0%, rgba(0,251,67,1) 30%, rgba(0,251,67,1) 70%, rgba(0,251,67,0) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,251,67,1)), color-stop(30%, rgba(0,251,67,1)), color-stop(70%, rgba(0,251,67,1)), color-stop(100%, rgba(0,251,67,0)));
      background: -webkit-linear-gradient(top, rgba(0,251,67,1) 0%, rgba(0,251,67,1) 30%, rgba(0,251,67,1) 70%, rgba(0,251,67,0) 100%);
      background: -o-linear-gradient(top, rgba(0,251,67,1) 0%, rgba(0,251,67,1) 30%, rgba(0,251,67,1) 70%, rgba(0,251,67,0) 100%);
      background: -ms-linear-gradient(top, rgba(0,251,67,1) 0%, rgba(0,251,67,1) 30%, rgba(0,251,67,1) 70%, rgba(0,251,67,0) 100%);
      background: linear-gradient(to bottom, rgba(0,251,67,1) 0%, rgba(0,251,67,1) 30%, rgba(0,251,67,1) 70%, rgba(0,251,67,0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fb43', endColorstr='#00fb43', GradientType=0 );
    }
  }

  .l-header__submenu {
    flex: flex-grid-column(null);
    padding: 20px 10px 20px 20px;
  }

  .l-header__search {
    display: none;
    flex: flex-grid-column(shrink);
    background-color: $cyber-darkergrey;

    .button-search {
      color: $cyber-grey;
      width: 50px;
      height: 50px;
      padding: 10px;
      font-size: rem-calc(30px);
      text-align: center;
      outline: 0;
    }
  }

  .l-header__hamburger {
    flex: flex-grid-column(shrink);
    background-color: $cyber-darkergrey;
    border-right: 1px solid $cyber-darkgrey;

    .button-menu {
      width: 50px;
      height: 50px;
      color: $white;
      font-size: rem-calc(30px);
      text-align: center;
      outline: 0;
    }
  }

  // Media queries
  @include breakpoint(large) {
    height: 100px;

    .l-header__logo {
      flex: flex-grid-column(shrink);
      width: 265px;
      height: auto;
      //text-align: center;

      img {
        max-width: 220px;
        max-height: 60px;
      }
    }

    .l-header__hamburger {
      display: none;
    }

    .l-header__search {
      background-color: transparent;
    }
  }
}
