<!-- This is just a backup - 8/4/2016 -->

<div class="l-process">
  <div class="content-box">
    <div class="columns">
      <div class="process">
        <div class="process__headline">
          <sup>Step</sup>
          <span class="stat">01</span>
        </div>
        <span class="process__seperator"></span>
        <div class="process__description">
          Pitching
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="process">
        <div class="process__headline">
          <sup>Step</sup>
          <span class="stat">02</span>
        </div>
        <span class="process__seperator"></span>
        <div class="process__description">
          Evaluation
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="process">
        <div class="process__headline">
          <sup>Step</sup>
          <span class="stat">03</span>
        </div>
        <span class="process__seperator"></span>
        <div class="process__description">
          Selection &amp; Informtion of Startup Company
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="process">
        <div class="process__headline">
          <sup>Step</sup>
          <span class="stat">04</span>
        </div>
        <span class="process__seperator"></span>
        <div class="process__description">
          Mentoring
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="process">
        <div class="process__headline">
          <sup>Step</sup>
          <span class="stat">04</span>
        </div>
        <span class="process__seperator"></span>
        <div class="process__description">
          Market Access &amp; Venture Acceleration
        </div>
      </div>
    </div>
  </div>
</div>
