<div class="l-banner--page">
  <div class="banner--page {{#if is-inverted}}banner-inverted{{/if}}">
    <div class="banner__content">
      <div class="banner__content__header">
        <div class="header-box--social">
          <p class="header-box__prehead">{{preheader}}</p>
          <h2 class="txt-green">{{{header}}}</h2>
        </div>
      </div>

      <div class="banner__content__description">{{{content}}}</div>
    </div>

    <div class="banner__image">
      <img src="{{imgSrc}}">
    </div>

    <div class="share">
      <button class="share__toggle"><i class="icon-share"></i></button>
      <a href="javascript:void(0);" class="share__facebook mui-enter"><i class="icon-facebook"></i></a>
      <a href="javascript:void(0);" class="share__twitter mui-enter"><i class="icon-twitter"></i></a>
      <a href="javascript:void(0);" class="share__email mui-enter"><i class="icon-email"></i></a>
    </div>
  </div>
</div>
