<div class="l-banner--landing">
  <div class="banner--landing">
    <div class="banner__wrapper">
      <!-- Lefit side -->
      <div class="banner__media">
        <!-- Image carousel -->
        <div class="banner__media__carousel">
          <div class="banner__media__image">
            <img src="http://placehold.it/840x570" />
          </div>
          <div class="banner__media__image">
            <img src="http://placehold.it/840x570" />
          </div>
          <div class="banner__media__image">
            <img src="http://placehold.it/840x570" />
          </div>
        </div>

        <!-- Highlight carousel -->
        <div class="header-box--social">
          <div class="header-box__listing">
            <a href="#">
              <span class="header-box__headline">Championing <br>Creation</span>
              <span class="header-box__lead">Everything you need to build and expand your business globally</span>
              <span class="header-box__cta">Read More<i class="icon-chevron-small-right align-middle"></i></span>
            </a>
            <a href="#">
              <span class="header-box__headline">Launch Your <br>Innovations</span>
              <span class="header-box__lead">Cyberjaya is already a launch pad for numerous prototypes</span>
              <span class="header-box__cta">Read More<i class="icon-chevron-small-right align-middle"></i></span>
            </a>
            <a href="#">
              <span class="header-box__headline">Putting ’Smart’ in <br>Living</span>
              <span class="header-box__lead">Improving quality of life in a sustainable world</span>
              <span class="header-box__cta">Read More<i class="icon-chevron-small-right align-middle"></i></span>
            </a>
          </div>
        </div>
      </div>

      <!-- Right side -->
      <div class="banner__content">
        <!-- News overflow -->
        <div class="news">
          <h6 class="news__heading"><a href="#">Happenings</a></h6>
          <hr />
          <div class="news__listing-scroller">
            <ul class="news__listing">
              <li>
                <a href="#">
                  <span class="news__headline">Cyberjaya Quaterly Meeting with Stakeholders Q1 2016</span>
                  <span class="news__timestamp">29.07.2015</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="news__headline">The Internet of Things? It’s happening</span>
                  <span class="news__timestamp">29.07.2015</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="news__headline">The Internet of Things? It’s happening</span>
                  <span class="news__timestamp">29.07.2015</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="news__headline">The Internet of Things? It’s happening</span>
                  <span class="news__timestamp">29.07.2015</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="news__headline">The Internet of Things? It’s happening</span>
                  <span class="news__timestamp">29.07.2015</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="news__headline">The Internet of Things? It’s happening</span>
                  <span class="news__timestamp">29.07.2015</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Page heading & copy -->
  <div class="l-banner__description">
    <p class="lead">As Global Tech Hub enablers, we are at the forefront of defining the future by collaboratively driving innovation within the tech community.</p>
  </div>
</div>
