<div class="row medium-unstack align-middle">
  <div class="columns">
    <p>This is a half column content box. Image used on this widget should have a minimum width of 570px.</p>
    <p>For retina support, image minimum width x 2</p>
  </div>
  <div class="columns"><img src="http://placehold.it/570x320"></div>
</div>

<div class="row medium-unstack align-middle">
  <div class="columns"><img src="http://placehold.it/570x320"></div>
  <div class="columns">
    <p>This is a half column content box. Image used on this widget should have a minimum width of 570px.</p>
    <p>For retina support, image minimum width x 2</p>
  </div>
</div>
