<div class="floorplan-img-wrap">
  <img src="/assets/img/floorplan/12-2.png" alt="12">
  <div class="nohover" style="width: 41px;height: 217px;top: 16px;left: 789px;"></div>
  <div class="nohover" style="width: 223px;height: 174px;top: 122px;left: 195px;"></div>
  <div class="nohover" style="width: 193px;height: 244px;top: 13px;left: 337px;"></div>
  <div class="nohover" style="width: 73px;height: 54px;top: 12px;left: 757px;"></div>
  <div class="nohover" style="width: 65px;height: 47px;top: 169px;"></div>
  <div class="nohover" style="width: 533px;height: 83px;top: 401px;left: 296px;"></div>
  <div class="nohover" style="width: 161px;height: 140px;top: 306px;left: 668px;"></div>

  <div class="floorplan-units-wrap">
    <div id="unit-12-2-01" class="unit" style="top: 16px;left: 45px;width: 780px;height: 465px;">
      <span style="width: 288px;height: 102px;"></span>
      <span style="width: 147px;height: 53px;top: 93px;"></span>
      <span style="width: 119px;height: 174px;left: 28px;top: 142px;"></span>
      <span style="left: 488px;width: 218px;height: 186px;"></span>
      <span style="width: 88px;top: 228px;height: 48px;left: 692px;"></span>
      <span style="left: 377px;width: 403px;height: 41px;top: 245px;"></span>
      <span style="width: 592px;top: 284px;left: 28px;height: 98px;"></span>
      <span style="top: 366px;width: 219px;height: 99px;left: 28px;"></span>
      
      <span style="top: 206px;left: 4px;width: 36px;height: 70px;"></span>
      <span style="width: 233px;top: 56px;height: 192px;left: 504px;"></span>
    </div>
  </div>
</div>