<div class="floorplan-img-wrap">
  <img src="./assets/img/floorplan/SME2-G.png" alt="SME2">
  
  <div class="floorplan-units-wrap">
    <div class="wrap-units">
      <div id="unit-SME2-G-01" class="unit" style="top: 65px; left: 245px; width: 35px; height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-G-02" class="unit" style="top: 65px; left: 283px; width: 35px; height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-G-03" class="unit" style="top: 65px; left: 335px; width: 35px; height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-G-04" class="unit" style="top: 65px; left: 373px; width: 35px; height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-G-05" class="unit" style="top: 65px; left: 412px; width: 35px; height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-G-06" class="unit" style="top: 65px; left: 450px; width: 35px; height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-G-07" class="unit" style="top: 65px; left: 488px; width: 35px; height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-G-08" class="unit" style="top: 150px; left: 245px; width: 35px; height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-G-09" class="unit" style="top: 150px; left: 283px; width: 35px; height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-G-10" class="unit" style="top: 150px;left: 333px;width: 34px;height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-G-11" class="unit" style="top: 150px;left: 371px;width: 35px;height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-G-12" class="unit" style="top: 150px;left: 410px;width: 34px;height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-G-13" class="unit" style="top: 150px;left: 448px;width: 34px;height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-G-14" class="unit" style="top: 150px;left: 487px;width: 58px;height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-G-15" class="unit" style="top: 66px;left: 614px;width: 58px;height: 58px;">
        <span></span>
      </div>
      <div id="unit-SME2-G-16" class="unit" style="top: 150px;left: 614px;width: 58px;height: 29px;">
        <span></span>
      </div>
      <div id="unit-SME2-G-17" class="unit" style="top: 181px;left: 614px;width: 58px;height: 28px;">
        <span></span>
      </div>
      <div id="unit-SME2-G-18" class="unit" style="top: 257px;left: 508px;width: 59px;height: 35px;">
        <span></span>
      </div>
      <div id="unit-SME2-G-19" class="unit" style="top: 295px;left: 508px;width: 59px;height: 35px;">
        <span></span>
      </div>
      <div id="unit-SME2-G-20" class="unit" style="top: 333px;left: 508px;width: 59px;height: 35px;">
        <span></span>
      </div>
      <div id="unit-SME2-G-21" class="unit" style="top: 371px;left: 508px;width: 59px;height: 35px;">
        <span></span>
      </div>
      <div id="unit-SME2-G-22" class="unit" style="top: 257px;left: 614px;width: 59px;height: 35px;">
        <span></span>
      </div>
      <div id="unit-SME2-G-23" class="unit" style="top: 295px;left: 614px;width: 59px;height: 35px;">
        <span></span>
      </div>
      <div id="unit-SME2-G-24" class="unit" style="top: 333px;left: 614px;width: 59px;height: 35px;">
        <span></span>
      </div>
      <div id="unit-SME2-G-25" class="unit" style="top: 371px;left: 614px;width: 59px;height: 35px;">
        <span></span>
      </div>
      <div id="unit-SME2-G-26" class="unit" style="top: 454px; left: 245px; width: 35px; height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-G-27" class="unit" style="top: 454px; left: 283px; width: 35px; height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-G-28" class="unit" style="top: 454px;left: 333px;width: 34px;height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-G-29" class="unit" style="top: 454px;left: 371px;width: 35px;height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-G-30" class="unit" style="top: 454px;left: 410px;width: 34px;height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-G-31" class="unit" style="top: 454px;left: 448px;width: 34px;height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-G-32" class="unit" style="top: 454px;left: 487px;width: 58px;height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-G-33" class="unit" style="top: 538px; left: 245px; width: 35px; height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-G-34" class="unit" style="top: 538px; left: 283px; width: 35px; height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-G-35" class="unit" style="top: 538px; left: 335px; width: 35px; height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-G-36" class="unit" style="top: 538px; left: 373px; width: 35px; height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-G-37" class="unit" style="top: 538px; left: 412px; width: 35px; height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-G-38" class="unit" style="top: 538px; left: 450px; width: 35px; height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-G-39" class="unit" style="top: 538px; left: 488px; width: 35px; height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-G-40" class="unit" style="top: 452px;left: 614px;width: 59px;height: 29px;">
        <span></span>
      </div>
      <div id="unit-SME2-G-41" class="unit" style="top: 538px;left: 614px;width: 59px;height: 59px;">
        <span></span>
      </div>

      <div id="unit-SME2-G-43" class="unit" style="top: 426px;left: 154px;width: 84px;height: 87px;">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 74 75.8" style="enable-background:new 0 0 74 75.8;" xml:space="preserve">
          <polygon class="st0" points="74,0 0,46 46,75.8 74,75.8 "/>
        </svg>
      </div>
    </div>
  </div>
</div>