<div class="floorplan-img-wrap">
  <img src="/assets/img/floorplan/12-1.png" alt="12">
  <div class="nohover" style="width: 65px;height: 47px;top: 169px;"></div>
  <div class="nohover" style="width: 65px;height: 103px;top: 299px;"></div>
  <div class="nohover" style="width: 81px;height: 50px;top: 203px;left: 302px;"></div>
  <div class="nohover" style="width: 73px;height: 64px;left: 758px;"></div>
  <div class="nohover" style="width: 40px;height: 185px;top: 47px;left: 791px;"></div>

  <div class="floorplan-units-wrap">
    <div id="unit-12-1-01" class="unit" style="top: 15px;left: 45px;width: 289px;height: 383px;">
      <span style="width: 222px;left: 28px;"></span>
      <span style="width: 39px;height: 147px;"></span>
      <span style="width: 52px;height: 182px;left: 237px;"></span>
      <span style="width: 52px;top: 246px;left: 237px;height: 137px;"></span>
      <span style="top: 208px;width: 29px;height: 69px;left: 4px;"></span>
    </div>

    <div id="unit-12-1-02" class="unit" style="top: 16px;left: 534px;width: 293px;height: 286px;">
      <span style="width: 218px;height: 186px;"></span>
      <span style="width: 234px;top: 55px;height: 223px;left: 16px;"></span>
      <span style="top: 229px;width: 277px;height: 57px;left: 16px;"></span>
    </div>
  </div>
</div>