<div class="floorplan-img-wrap">
  <img src="/assets/img/floorplan/12-6.png" alt="12">
  <div class="nohover" style="width: 47px;height: 232px;left: 789px;"></div>
  <div class="nohover" style="width: 72px;height: 66px;left: 756px;"></div>
  <div class="nohover" style="width: 185px;height: 122px;left: 341px;"></div>
  <div class="nohover" style="width: 138px;height: 231px;left: 387px;"></div>
  <div class="nohover" style="width: 250px;height: 40px;left: 130px;"></div>
  <div class="nohover" style="width: 65px;height: 121px;top: 96px;"></div>
  <div class="nohover" style="width: 533px;height: 83px;top: 401px;left: 296px;"></div>
  <div class="nohover" style="width: 161px;height: 140px;top: 306px;left: 668px;"></div>
  <div class="nohover" style="width: 155px;height: 124px;"></div>
  <div class="nohover" style="width: 240px;height: 49px;top: 204px;left: 301px;"></div>

  <div class="floorplan-units-wrap">
    <div id="unit-12-6-01" class="unit" style="top: 16px;left: 48px;width: 777px;height: 428px;">
      <span style="width: 170px;top: 32px;height: 83px;left: 115px;"></span>
      <span style="left: 25px;width: 307px;height: 67px;top: 114px;"></span>
      <span style="width: 221px;height: 249px;left: 25px;top: 179px;"></span>
      <span style="left: 485px;width: 216px;height: 186px;"></span>
      <span style="width: 192px;top: 228px;height: 58px;left: 585px;"></span>
      <span style="width: 424px;top: 244px;left: 192px;height: 138px;"></span>
      <span style="top: 206px;width: 31px;height: 70px;"></span>
      <span style="width: 232px;top: 56px;height: 210px;left: 501px;"></span>
    </div>
  </div>
</div>