<div class="floorplan-img-wrap">
  <img src="./assets/img/floorplan/SME2-3.png" alt="SME2">
  
  <div class="floorplan-units-wrap">
    <div class="wrap-units">
      <div id="unit-SME2-3-01" class="unit" style="top: 65px; left: 245px; width: 35px; height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-3-02" class="unit" style="top: 65px; left: 283px; width: 35px; height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-3-03" class="unit" style="top: 65px; left: 335px; width: 35px; height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-3-04" class="unit" style="top: 65px; left: 373px; width: 35px; height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-3-05" class="unit" style="top: 65px; left: 412px; width: 35px; height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-3-06" class="unit" style="top: 65px; left: 450px; width: 35px; height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-3-07" class="unit" style="top: 65px; left: 488px; width: 35px; height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-3-08" class="unit" style="top: 150px; left: 245px; width: 35px; height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-3-09" class="unit" style="top: 150px; left: 283px; width: 35px; height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-3-10" class="unit" style="top: 150px;left: 333px;width: 34px;height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-3-11" class="unit" style="top: 150px;left: 371px;width: 35px;height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-3-12" class="unit" style="top: 150px;left: 410px;width: 34px;height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-3-13" class="unit" style="top: 150px;left: 448px;width: 34px;height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-3-14" class="unit" style="top: 150px;left: 487px;width: 58px;height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-3-15" class="unit" style="top: 66px;left: 614px;width: 58px;height: 58px;">
        <span></span>
      </div>
      <div id="unit-SME2-3-16" class="unit" style="top: 150px;left: 614px;width: 58px;height: 29px;">
        <span></span>
      </div>
      <div id="unit-SME2-3-17" class="unit" style="top: 181px;left: 614px;width: 58px;height: 28px;">
        <span></span>
      </div>
      <div id="unit-SME2-3-18" class="unit" style="top: 257px;left: 508px;width: 59px;height: 35px;">
        <span></span>
      </div>
      <div id="unit-SME2-3-19" class="unit" style="top: 295px;left: 508px;width: 59px;height: 35px;">
        <span></span>
      </div>
      <div id="unit-SME2-3-20" class="unit" style="top: 333px;left: 508px;width: 59px;height: 35px;">
        <span></span>
      </div>
      <div id="unit-SME2-3-21" class="unit" style="top: 371px;left: 508px;width: 59px;height: 35px;">
        <span></span>
      </div>
      <div id="unit-SME2-3-22" class="unit" style="top: 257px;left: 614px;width: 59px;height: 35px;">
        <span></span>
      </div>
      <div id="unit-SME2-3-23" class="unit" style="top: 295px;left: 614px;width: 59px;height: 35px;">
        <span></span>
      </div>
      <div id="unit-SME2-3-24" class="unit" style="top: 333px;left: 614px;width: 59px;height: 35px;">
        <span></span>
      </div>
      <div id="unit-SME2-3-25" class="unit" style="top: 371px;left: 614px;width: 59px;height: 35px;">
        <span></span>
      </div>
      <div id="unit-SME2-3-26" class="unit" style="top: 454px; left: 245px; width: 35px; height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-3-27" class="unit" style="top: 454px; left: 283px; width: 35px; height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-3-28" class="unit" style="top: 454px;left: 333px;width: 34px;height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-3-29" class="unit" style="top: 454px;left: 371px;width: 35px;height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-3-30" class="unit" style="top: 454px;left: 410px;width: 34px;height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-3-31" class="unit" style="top: 454px;left: 448px;width: 34px;height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-3-32" class="unit" style="top: 454px;left: 487px;width: 58px;height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-3-33" class="unit" style="top: 538px; left: 245px; width: 35px; height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-3-34" class="unit" style="top: 538px; left: 283px; width: 35px; height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-3-35" class="unit" style="top: 538px; left: 335px; width: 35px; height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-3-36" class="unit" style="top: 538px; left: 373px; width: 35px; height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-3-37" class="unit" style="top: 538px; left: 412px; width: 35px; height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-3-38" class="unit" style="top: 538px; left: 450px; width: 35px; height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-3-39" class="unit" style="top: 538px; left: 488px; width: 35px; height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-3-40" class="unit" style="top: 452px;left: 613px;width: 59px;height: 29px;">
        <span></span>
      </div>
      <div id="unit-SME2-3-41" class="unit" style="top: 538px;left: 613px;width: 59px;height: 59px;">
        <span></span>
      </div>
      <div id="unit-SME2-3-42" class="unit" style="top: 484px;left: 613px;width: 59px;height: 28px;">
        <span></span>
      </div>
    </div>
  </div>
</div>