<div class="floorplan-img-wrap">
  <img src="/assets/img/floorplan/12A-1.png" alt="12">
  <div class="nohover" style="width: 54px; height: 335px; top: 219px; left: 11px;"></div>
  <div class="nohover" style="width: 106px;height: 117px;top: 279px;left: 65px;"></div>
  <div class="nohover" style="width: 221px;height: 167px;top: 262px;left: 169px;"></div>
  <div class="nohover" style="width: 52px;height: 126px;top: 428px;left: 65px;"></div>
  <div class="nohover" style="width: 199px;height: 72px;top: 482px;left: 116px;"></div>

  <div class="floorplan-units-wrap">
    <div id="unit-12A-1-01" class="unit" style="top: 110px;left: 15px;width: 487px;height: 440px;">
      <span style="width: 58px;top: 0;height: 103px;"></span>
      <span style="left: 58px;width: 92px;height: 166px;"></span>
      <span style="width: 277px;top: 0;height: 148px;left: 150px;"></span>
      <span style="left: 427px;width: 59px;height: 87px;"></span>
      <span style="width: 48px;top: 147px;height: 116px;left: 379px;"></span>
      <span style="left: 379px;width: 107px;height: 179px;top: 261px;"></span>
      <span style="width: 76px;top: 324px;left: 307px;height: 116px;"></span>
      <span style="left: 106px;top: 324px;width: 203px;height: 45px;"></span>
      <span style="width: 26px;top: 309px;height: 17px;left: 106px;"></span>
      <span style="top: 290px;left: 56px;width: 76px;height: 21px;"></span>
    </div>
  </div>
</div>