<script>
  $(document).ready(function() {
    // Load floor plan units
    function displayFloorplanUnits2(json, ele) {
      $.getJSON(json, function (data) {
        $units = $(ele).find('.floorplan-units-wrap');

        for (var key in data) {
          var val = data[key];

          for (var i = 0; i < val['units'].length; i++) {
            $unit = val['units'][i];
            $unitSize = '';

            if ($unit['unit']) {
              $('#unit-' + $unit['unit']).attr('data-vacant', $unit['vacant']);
              
              $btnEnquire = ($unit['vacant'] == true) ? '<a href="#" class="button">Enquire Us</a>' : '';
              $unitTooltip = '<div class="floorplan--tooltip"><div><p>Unit No: <span>'+ $unit['unit'] +'</span></p><p>Type: <span>'+ $unit['unit'] +'</span></p><p>Floor Area: <span>'+ $unit['area'] +'</span></p><p>Floor Layout: <span><a href="'+ $unit['layout'] +'">View Diagram</a></span></p><p>Rental: <span>'+ $unit['rental'] +'</span></p>'+ $btnEnquire +'</div></div>';

              $('#unit-' + $unit['unit']).append($unitTooltip);
            }
          }
        }
      });
    }

    displayFloorplanUnits2('./assets/floorplan/sme1.json', '#floorG');
    displayFloorplanUnits2('./assets/floorplan/sme1-1.json', '#floor1');
    displayFloorplanUnits2('./assets/floorplan/sme1-2.json', '#floor2');
    displayFloorplanUnits2('./assets/floorplan/sme1-3.json', '#floor3');
  })
</script>