<div class="floorplan-img-wrap">
  <img src="./assets/img/floorplan/12-3.png" alt="12">
  <div class="nohover" style="width: 40px;height: 217px;top: 16px;left: 789px;"></div>
  <div class="nohover" style="width: 231px;height: 76px;top: 125px;left: 199px;"></div>
  <div class="nohover" style="width: 186px;height: 250px;left: 341px;"></div>
  <div class="nohover" style="width: 72px;height: 53px;top: 12px;left: 757px;"></div>
  <div class="nohover" style="width: 65px;height: 47px;top: 169px;"></div>
  <div class="nohover" style="width: 533px;height: 83px;top: 401px;left: 296px;"></div>
  <div class="nohover" style="width: 161px;height: 140px;top: 306px;left: 668px;"></div>
  <div class="nohover" style="width: 241px;height: 62px;top: 191px;left: 301px;"></div>

  <div class="floorplan-units-wrap">
    <div id="unit-12-3-01" class="unit" style="top: 16px;left: 45px;width: 780px;height: 465px;">
      <span style="width: 289px;height: 102px;"></span>
      <span style="width: 147px;height: 61px;top: 85px;"></span>
      <span style="width: 119px;height: 244px;left: 28px;top: 140px;"></span>
      <span style="left: 488px;width: 217px;height: 186px;"></span>
      <span style="width: 66px;top: 228px;height: 58px;left: 714px;"></span>
      <span style="left: 28px;width: 221px;height: 273px;top: 192px;"></span>
      <span style="width: 400px;top: 245px;left: 220px;height: 137px;"></span>
      
      
      <span style="top: 207px;left: 4px;width: 32px;height: 69px;"></span>
      <span style="width: 233px;top: 55px;height: 231px;left: 504px;"></span>
    </div>
  </div>
</div>