<div class="floorplan-img-wrap">
  <img src="/assets/img/floorplan/12-4-5.png" alt="12">
  <div class="nohover" style="width: 40px;height: 216px;top: 16px;left: 789px;"></div>
  <div class="nohover" style="width: 65px;height: 118px;top: 97px;"></div>
  <div class="nohover" style="width: 243px;height: 52px;top: 201px;left: 298px;"></div>
  <div class="nohover" style="width: 189px;height: 240px;left: 336px;"></div>
  <div class="nohover" style="width: 73px;height: 65px;left: 756px;"></div>
  <div class="nohover" style="width: 126px;height: 123px;"></div>
  <div class="nohover" style="width: 533px;height: 83px;top: 401px;left: 296px;"></div>
  <div class="nohover" style="width: 161px;height: 140px;top: 306px;left: 668px;"></div>

  <div class="floorplan-units-wrap">
    <div id="unit-12-4-5-01" class="unit" style="top: 16px;left: 48px;width: 777px;height: 465px;">
      <span style="width: 198px;height: 163px;left: 87px;"></span>
      <span style="left: 24px;width: 261px;height: 66px;top: 115px;"></span>
      <span style="width: 222px;height: 288px;left: 24px;top: 177px;"></span>
      <span style="left: 485px;width: 217px;height: 206px;"></span>
      <span style="width: 100px;top: 228px;height: 58px;left: 677px;"></span>
      <span style="width: 471px;top: 244px;left: 145px;height: 137px;"></span>
      <span style="top: 207px;width: 36px;height: 68px;"></span>
      <span style="width: 232px;top: 56px;height: 230px;left: 501px;"></span>
    </div>
  </div>
</div>