<div class="floorplan-img-wrap">
  <img src="./assets/img/floorplan/12A-G.png" alt="12">
  <div class="floorplan-units-wrap">
    <div id="unit-12A-G-01" class="unit" style="top: 349px;left: 18px;width: 119px;height: 190px;">
      <span style="width: 59px;"></span>
      <span style="left: 52px;width: 67px;top: 40px;height: 150px;"></span>
    </div>

    <div id="unit-12A-G-02" class="unit" style="top: 296px;left: 361px;width: 152px;height: 242px;">
      <span style="width: 104px;top: 102px;height: 141px;"></span>
      <span style="left: 59px;width: 93px;height: 132px;"></span>
    </div>
  </div>
</div>