<div class="floorplan-img-wrap">
  <img src="/assets/img/floorplan/12-G.png" alt="12">
  <div class="nohover" style="width: 56px;height: 231px;left: 13px;"></div>
  <div class="nohover" style="width: 88px;height: 131px;left: 47px;"></div>

  <div class="floorplan-units-wrap">
    <div id="unit-12-G-01" class="unit" style="top: 16px;left: 51px;width: 284px;height: 295px;">
      <span style="top: 221px;height: 74px;"></span>
      <span style="left: 92px;width: 192px;height: 150px;"></span>
      <span style="left: 25px;width: 259px;top: 123px;height: 108px;"></span>
    </div>
  </div>
</div>