<div class="floorplan-img-wrap">
  <img src="./assets/img/floorplan/sme1-3.jpg" alt="SME">

  <div class="floorplan-units-wrap">
    <div id="unit-C-03-01" class="unit" style="width:43px; height: 43px; top: 58px; left: 56px">
      <span></span>
    </div>
    <div id="unit-C-03-02" class="unit" style="width:43px; height: 43px; top: 58px; left: 102px">
      <span></span>
    </div>
    <div id="unit-C-03-03" class="unit" style="width:43px; height: 43px; top: 128px; left: 56px">
      <span></span>
    </div>
    <div id="unit-C-03-04" class="unit" style="width: 21px;height: 22px;top: 128px;left: 102px;">
      <span></span>
    </div>
    <div id="unit-C-03-05" class="unit" style="width: 21px;height: 21px;top: 151px;left: 102px;">
      <span></span>
    </div>
    <div id="unit-C-03-06" class="unit" style="width: 20px;height: 21px;top: 151px;left: 125px;">
      <span></span>
    </div>
    <div id="unit-C-03-07" class="unit" style="width:43px;height: 43px;top: 497px;left: 56px;">
      <span></span>
    </div>
    <div id="unit-C-03-08" class="unit" style="width:43px;height: 43px;top: 496px;left: 102px;">
      <span></span>
    </div>
    <div id="unit-C-03-09" class="unit" style="width:43px;height: 43px;top: 567px;left: 56px;">
      <span></span>
    </div>
    <div id="unit-C-03-10" class="unit" style="width:43px;height: 43px;top: 567px;left: 102px;">
      <span></span>
    </div>
    <div id="unit-C-03-11" class="unit" style="width: 91px;height: 98px;top: 234px;left: 57px;">
      <span></span>
    </div>
    <div id="unit-C-03-12" class="unit" style="width: 91px;height: 98px;top: 338px;left: 57px;">
      <span></span>
      </div>
  </div>
</div>