<div class="floorplan-img-wrap">
  <img src="/assets/img/floorplan/sme1-g.jpg" alt="SME">
  
  <div class="floorplan-units-wrap">
    <div id="unit-C-G-02" class="unit" style="width:43px; height: 43px; top: 58px; left: 56px">
      <span></span>
    </div>
    <div id="unit-C-G-03" class="unit" style="width:43px; height: 43px; top: 58px; left: 102px">
      <span></span>
    </div>
    <div id="unit-C-G-04" class="unit" style="width:43px; height: 43px; top: 58px; left: 184px">
      <span></span>
    </div>
    <div id="unit-C-G-05" class="unit" style="width:43px; height: 43px; top: 58px; left: 231px">
      <span></span>
    </div>
    <div id="unit-C-G-06" class="unit" style="width:43px; height: 43px; top: 58px; left: 277px">
      <span></span>
    </div>
    <div id="unit-C-G-07" class="unit" style="width:43px; height: 43px; top: 58px; left: 338px">
      <span></span>
    </div>
    <div id="unit-C-G-08" class="unit" style="width:43px; height: 43px; top: 58px; left: 384px">
      <span></span>
    </div>
    <div id="unit-C-G-09" class="unit" style="width:43px; height: 43px; top: 58px; left: 430px">
      <span></span>
    </div>
    <div id="unit-C-G-10" class="unit" style="width:43px; height: 43px; top: 58px; left: 513px">
      <span></span>
    </div>
    <div id="unit-C-G-11" class="unit" style="width:43px; height: 43px; top: 58px; left: 558px">
      <span></span>
    </div>
    <div id="unit-C-G-12" class="unit" style="width:43px; height: 43px; top: 128px; left: 56px">
      <span></span>
    </div>
    <div id="unit-C-G-13" class="unit" style="width:43px; height: 43px; top: 128px; left: 102px">
      <span></span>
    </div>
    <div id="unit-C-G-14" class="unit" style="width:43px; height: 43px; top: 128px; left: 184px">
      <span></span>
    </div>
    <div id="unit-C-G-15" class="unit" style="width:43px; height: 43px; top: 128px; left: 231px">
      <span></span>
    </div>
    <div id="unit-C-G-16" class="unit" style="width:43px; height: 43px; top: 128px; left: 277px">
      <span></span>
    </div>
    <div id="unit-C-G-17" class="unit" style="width:43px; height: 43px; top: 128px; left: 338px">
      <span></span>
    </div>
    <div id="unit-C-G-18" class="unit" style="width:43px; height: 43px; top: 128px; left: 384px">
      <span></span>
    </div>
    <div id="unit-C-G-19" class="unit" style="width:43px; height: 43px; top: 128px; left: 430px">
      <span></span>
    </div>
    <div id="unit-C-G-20" class="unit" style="width:43px; height: 43px; top: 128px; left: 513px">
      <span></span>
    </div>
    <div id="unit-C-G-21" class="unit" style="width:43px; height: 43px; top: 128px; left: 558px">
      <span></span>
    </div>
    <div id="unit-C-G-22" class="unit" style="width:43px; height: 43px; top: 494px; left: 56px">
      <span></span>
    </div>
    <div id="unit-C-G-23" class="unit" style="width:43px; height: 43px; top: 494px; left: 102px">
      <span></span>
    </div>
    <div id="unit-C-G-24" class="unit" style="width:43px; height: 43px; top: 494px; left: 231px">
      <span></span>
    </div>
    <div id="unit-C-G-25" class="unit" style="width:43px; height: 43px; top: 494px; left: 277px">
      <span></span>
    </div>
    <div id="unit-C-G-26" class="unit" style="width:43px; height: 43px; top: 494px; left: 338px">
      <span></span>
    </div>
    <div id="unit-C-G-27" class="unit" style="width:43px; height: 43px; top: 494px; left: 384px">
      <span></span>
    </div>
    <div id="unit-C-G-28" class="unit" style="width:43px; height: 43px; top: 494px; left: 430px">
      <span></span>
    </div>
    <div id="unit-C-G-29" class="unit" style="width:43px; height: 43px; top: 494px; left: 513px">
      <span></span>
    </div>
    <div id="unit-C-G-29" class="unit" style="width:43px; height: 43px; top: 494px; left: 558px">
      <span></span>
    </div>
    <div id="unit-C-G-30" class="unit" style="width:43px; height: 43px; top: 565px; left: 56px">
      <span></span>
    </div>
    <div id="unit-C-G-31" class="unit" style="width:43px; height: 43px; top: 565px; left: 102px">
      <span></span>
    </div>
    <div id="unit-C-G-32" class="unit" style="width:43px; height: 43px; top: 565px; left: 184px">
      <span></span>
    </div>
    <div id="unit-C-G-33" class="unit" style="width:43px; height: 43px; top: 565px; left: 231px">
      <span></span>
    </div>
    <div id="unit-C-G-34" class="unit" style="width:43px; height: 43px; top: 565px; left: 277px">
      <span></span>
    </div>
    <div id="unit-C-G-35" class="unit" style="width:43px; height: 43px; top: 565px; left: 338px">
      <span></span>
    </div>
    <div id="unit-C-G-36" class="unit" style="width:43px; height: 43px; top: 565px; left: 384px">
      <span></span>
    </div>
    <div id="unit-C-G-37" class="unit" style="width:43px; height: 43px; top: 565px; left: 430px">
      <span></span>
    </div>
    <div id="unit-C-G-38" class="unit" style="width:43px; height: 43px; top: 565px; left: 513px">
      <span></span>
    </div>
    <div id="unit-C-G-39" class="unit" style="width:43px; height: 43px; top: 565px; left: 558px">
      <span></span>
    </div>
    <div id="unit-C-G-40" class="unit" style="width:87px; height: 110px; top: 278px; left: 59px">
      <span style="height: 79px;"></span>
      <span style="width: 40px;height: 31px;bottom: 0;right: 0;"></span>
    </div>
    <div id="unit-C-G-41" class="unit" style="width:87px; height: 43px; top: 391px; left: 59px">
      <span></span>
    </div>
    <div id="unit-C-G-42" class="unit" style="width:66px; height: 41px; top: 203px; left: 569px">
      <span></span>
    </div>
  </div>
</div>