<div class="floorplan-img-wrap">
  <img src="./assets/img/floorplan/SME3-1.png" alt="SME3">
  
  <div class="floorplan-units-wrap">
    <div class="wrap-units">
      <div id="unit-SME3-1-01" class="unit" style="top: 34px; left: 329px; width: 248px; height: 219px;">
        <span></span>
      </div>
      <div id="unit-SME3-1-02" class="unit" style="top: 223px; left: 110px; width: 119px; height: 360px;">
        <span></span>
      </div>
      <div id="unit-SME3-1-03" class="unit" style="top: 223px; left: 236px; width: 191px; height: 360px;">
        <span style="width: 67px;"></span>
        <span style="left: 67px; top: 60px; height: 300px; width: 124px;"></span>
      </div>
      <div id="unit-SME3-1-04" class="unit" style="width: 146px; height: 300px; top: 283px; left: 434px;">
        <span></span>
      </div>
    </div>
  </div>
</div>