<div class="floorplan-img-wrap">
  <img src="/assets/img/floorplan/sme1-2.jpg" alt="SME">

  <div class="floorplan-units-wrap">
    <div id="unit-C-02-02" class="unit" style="width:43px; height: 43px; top: 58px; left: 56px">
      <span></span>
    </div>
    <div id="unit-C-02-03" class="unit" style="width:43px; height: 43px; top: 58px; left: 102px">
      <span></span>
    </div>
    <div id="unit-C-02-04" class="unit" style="width:43px; height: 43px; top: 58px; left: 184px">
      <span></span>
    </div>
    <div id="unit-C-02-05" class="unit" style="width:43px; height: 43px; top: 58px; left: 231px">
      <span></span>
    </div>
    <div id="unit-C-02-06" class="unit" style="width:43px; height: 43px; top: 58px; left: 277px">
      <span></span>
    </div>
    <div id="unit-C-02-07" class="unit" style="width:43px; height: 43px; top: 58px; left: 338px">
      <span></span>
    </div>
    <div id="unit-C-02-08" class="unit" style="width:43px; height: 43px; top: 58px; left: 384px">
      <span></span>
    </div>
    <div id="unit-C-02-09" class="unit" style="width:43px; height: 43px; top: 58px; left: 430px">
      <span></span>
    </div>
    <div id="unit-C-02-10" class="unit" style="width:43px; height: 43px; top: 58px; left: 513px">
      <span></span>
    </div>
    <div id="unit-C-02-11" class="unit" style="width:43px; height: 43px; top: 58px; left: 558px">
      <span></span>
    </div>
    <div id="unit-C-02-12" class="unit" style="width:43px; height: 43px; top: 128px; left: 56px">
      <span></span>
    </div>
    <div id="unit-C-02-13" class="unit" style="width:43px; height: 43px; top: 128px; left: 102px">
      <span></span>
    </div>
    <div id="unit-C-02-14" class="unit" style="width:43px; height: 43px; top: 128px; left: 184px">
      <span></span>
    </div>
    <div id="unit-C-02-15" class="unit" style="width:43px; height: 43px; top: 128px; left: 231px">
      <span></span>
    </div>
    <div id="unit-C-02-16" class="unit" style="width:43px; height: 43px; top: 128px; left: 277px">
      <span></span>
    </div>
    <div id="unit-C-02-17" class="unit" style="width:43px; height: 43px; top: 128px; left: 338px">
      <span></span>
    </div>
    <div id="unit-C-02-18" class="unit" style="width:43px; height: 43px; top: 128px; left: 384px">
      <span></span>
    </div>
    <div id="unit-C-02-19" class="unit" style="width:43px; height: 43px; top: 128px; left: 430px">
      <span></span>
    </div>
    <div id="unit-C-02-20" class="unit" style="width:43px; height: 43px; top: 128px; left: 513px">
      <span></span>
    </div>
    <div id="unit-C-02-21" class="unit" style="width:43px; height: 43px; top: 128px; left: 558px">
      <span></span>
    </div>
    <div id="unit-C-02-22" class="unit" style="width:43px; height: 43px; top: 494px; left: 56px">
      <span></span>
    </div>
    <div id="unit-C-02-23" class="unit" style="width:43px; height: 43px; top: 494px; left: 102px">
      <span></span>
    </div>
    <div id="unit-C-02-24" class="unit" style="width:43px; height: 43px; top: 494px; left: 231px">
      <span></span>
    </div>
    <div id="unit-C-02-25" class="unit" style="width:43px; height: 43px; top: 494px; left: 277px">
      <span></span>
    </div>
    <div id="unit-C-02-26" class="unit" style="width:43px; height: 43px; top: 494px; left: 338px">
      <span></span>
    </div>
    <div id="unit-C-02-27" class="unit" style="width:43px; height: 43px; top: 494px; left: 384px">
      <span></span>
    </div>
    <div id="unit-C-02-28" class="unit" style="width:43px; height: 43px; top: 494px; left: 430px">
      <span></span>
    </div>
    <div id="unit-C-02-29" class="unit" style="width:43px;height: 43px;top: 494px;left: 186px;">
      <span></span>
    </div>
    <div id="unit-C-02-30" class="unit" style="width:43px; height: 43px; top: 494px; left: 558px">
      <span></span>
    </div>
    <div id="unit-C-02-49" class="unit" style="width:43px; height: 43px; top: 494px; left: 514px">
      <span></span>
    </div>
    <div id="unit-C-02-31" class="unit" style="width:43px; height: 43px; top: 565px; left: 56px">
      <span></span>
    </div>
    <div id="unit-C-02-32" class="unit" style="width:43px; height: 43px; top: 565px; left: 102px">
      <span></span>
    </div>
    <div id="unit-C-02-33" class="unit" style="width:43px; height: 43px; top: 565px; left: 184px">
      <span></span>
    </div>
    <div id="unit-C-02-34" class="unit" style="width:43px; height: 43px; top: 565px; left: 231px">
      <span></span>
    </div>
    <div id="unit-C-02-35" class="unit" style="width:43px; height: 43px; top: 565px; left: 277px">
      <span></span>
    </div>
    <div id="unit-C-02-36" class="unit" style="width:43px; height: 43px; top: 565px; left: 338px">
      <span></span>
    </div>
    <div id="unit-C-02-37" class="unit" style="width:43px; height: 43px; top: 565px; left: 384px">
      <span></span>
    </div>
    <div id="unit-C-02-38" class="unit" style="width:43px; height: 43px; top: 565px; left: 430px">
      <span></span>
    </div>
    <div id="unit-C-02-39" class="unit" style="width:43px; height: 43px; top: 565px; left: 513px">
      <span></span>
    </div>
    <div id="unit-C-02-40" class="unit" style="width:43px; height: 43px; top: 565px; left: 559px">
      <span></span>
    </div>
    <div id="unit-C-02-41" class="unit" style="width: 39px;height: 37px;top: 234px;left: 57px;">
      <span></span>
    </div>
    <div id="unit-C-02-42" class="unit" style="width: 39px;height: 36px;top: 275px;left: 57px;">
      <span></span>
    </div>
    <div id="unit-C-02-43" class="unit" style="width: 39px;height: 37px;top: 316px;left: 57px;">
      <span></span>
    </div>
    <div id="unit-C-02-44" class="unit" style="width: 39px;height: 37px;top: 357px;left: 57px;">
      <span></span>
    </div>
    <div id="unit-C-02-45" class="unit" style="width: 39px;height: 37px;top: 398px;left: 57px;">
      <span></span>
    </div>
    <div id="unit-C-02-46" class="unit" style="width: 39px;height: 55px;top: 256px;left: 110px;">
      <span></span>
    </div>
    <div id="unit-C-02-47" class="unit" style="width: 39px;height: 55px;top: 357px;left: 110px;">
      <span></span>
    </div>
    <div id="unit-C-02-48" class="unit" style="width: 39px;height: 37px;top: 316px;left: 110px;">
      <span></span>
    </div>
  </div>
</div>