<div class="floorplan-img-wrap">
  <img src="/assets/img/floorplan/sme1-1.jpg" alt="SME">

  <div class="floorplan-units-wrap">
    <div id="unit-C-01-02" class="unit" style="width:43px; height: 43px; top: 58px; left: 56px">
      <span></span>
    </div>
    <div id="unit-C-01-03" class="unit" style="width:43px; height: 43px; top: 58px; left: 102px">
      <span></span>
    </div>
    <div id="unit-C-01-04" class="unit" style="width:43px; height: 43px; top: 58px; left: 184px">
      <span></span>
    </div>
    <div id="unit-C-01-05" class="unit" style="width:43px; height: 43px; top: 58px; left: 231px">
      <span></span>
    </div>
    <div id="unit-C-01-06" class="unit" style="width:43px; height: 43px; top: 58px; left: 277px">
      <span></span>
    </div>
    <div id="unit-C-01-07" class="unit" style="width:43px; height: 43px; top: 58px; left: 338px">
      <span></span>
    </div>
    <div id="unit-C-01-08" class="unit" style="width:43px; height: 43px; top: 58px; left: 384px">
      <span></span>
    </div>
    <div id="unit-C-01-09" class="unit" style="width:43px; height: 43px; top: 58px; left: 430px">
      <span></span>
    </div>
    <div id="unit-C-01-10" class="unit" style="width:43px; height: 43px; top: 58px; left: 513px">
      <span></span>
    </div>
    <div id="unit-C-01-11" class="unit" style="width:43px; height: 43px; top: 58px; left: 558px">
      <span></span>
    </div>
    <div id="unit-C-01-12" class="unit" style="width:43px; height: 43px; top: 128px; left: 56px">
      <span></span>
    </div>
    <div id="unit-C-01-13" class="unit" style="width:43px; height: 43px; top: 128px; left: 102px">
      <span></span>
    </div>
    <div id="unit-C-01-14" class="unit" style="width:43px; height: 43px; top: 128px; left: 184px">
      <span></span>
    </div>
    <div id="unit-C-01-15" class="unit" style="width:43px; height: 43px; top: 128px; left: 231px">
      <span></span>
    </div>
    <div id="unit-C-01-16" class="unit" style="width:43px; height: 43px; top: 128px; left: 277px">
      <span></span>
    </div>
    <div id="unit-C-01-17" class="unit" style="width:43px; height: 43px; top: 128px; left: 338px">
      <span></span>
    </div>
    <div id="unit-C-01-18" class="unit" style="width:43px; height: 43px; top: 128px; left: 384px">
      <span></span>
    </div>
    <div id="unit-C-01-19" class="unit" style="width:43px; height: 43px; top: 128px; left: 430px">
      <span></span>
    </div>
    <div id="unit-C-01-20" class="unit" style="width:43px; height: 43px; top: 128px; left: 513px">
      <span></span>
    </div>
    <div id="unit-C-01-21" class="unit" style="width:43px; height: 43px; top: 128px; left: 558px">
      <span></span>
    </div>
    <div id="unit-C-01-22" class="unit" style="width:43px; height: 43px; top: 494px; left: 56px">
      <span></span>
    </div>
    <div id="unit-C-01-23" class="unit" style="width:43px; height: 43px; top: 494px; left: 102px">
      <span></span>
    </div>
    <div id="unit-C-01-24" class="unit" style="width:43px; height: 43px; top: 494px; left: 231px">
      <span></span>
    </div>
    <div id="unit-C-01-25" class="unit" style="width:43px; height: 43px; top: 494px; left: 277px">
      <span></span>
    </div>
    <div id="unit-C-01-26" class="unit" style="width:43px; height: 43px; top: 494px; left: 338px">
      <span></span>
    </div>
    <div id="unit-C-01-27" class="unit" style="width:43px; height: 43px; top: 494px; left: 384px">
      <span></span>
    </div>
    <div id="unit-C-01-28" class="unit" style="width:43px; height: 43px; top: 494px; left: 430px">
      <span></span>
    </div>
    <div id="unit-C-01-29" class="unit" style="width:43px;height: 43px;top: 494px;left: 186px;">
      <span></span>
    </div>
    <div id="unit-C-01-30" class="unit" style="width:43px; height: 43px; top: 494px; left: 558px">
      <span></span>
    </div>
    <div id="unit-C-01-31" class="unit" style="width:43px; height: 43px; top: 565px; left: 56px">
      <span></span>
    </div>
    <div id="unit-C-01-32" class="unit" style="width:43px; height: 43px; top: 565px; left: 102px">
      <span></span>
    </div>
    <div id="unit-C-01-33" class="unit" style="width:43px; height: 43px; top: 565px; left: 184px">
      <span></span>
    </div>
    <div id="unit-C-01-34" class="unit" style="width:43px; height: 43px; top: 565px; left: 231px">
      <span></span>
    </div>
    <div id="unit-C-01-35" class="unit" style="width:43px; height: 43px; top: 565px; left: 277px">
      <span></span>
    </div>
    <div id="unit-C-01-36" class="unit" style="width:43px; height: 43px; top: 565px; left: 338px">
      <span></span>
    </div>
    <div id="unit-C-01-37" class="unit" style="width:43px; height: 43px; top: 565px; left: 384px">
      <span></span>
    </div>
    <div id="unit-C-01-38" class="unit" style="width:43px; height: 43px; top: 565px; left: 430px">
      <span></span>
    </div>
    <div id="unit-C-01-39" class="unit" style="width:43px; height: 43px; top: 565px; left: 513px">
      <span></span>
    </div>
    <div id="unit-C-01-40" class="unit" style="width:43px; height: 43px; top: 565px; left: 559px">
      <span></span>
    </div>
    <div id="unit-C-01-41" class="unit" style="width: 39px;height: 37px;top: 234px;left: 57px;">
      <span></span>
    </div>
    <div id="unit-C-01-42" class="unit" style="width: 39px;height: 36px;top: 275px;left: 57px;">
      <span></span>
    </div>
    <div id="unit-C-01-43" class="unit" style="width: 39px;height: 37px;top: 316px;left: 57px;">
      <span></span>
    </div>
    <div id="unit-C-01-44" class="unit" style="width: 39px;height: 37px;top: 357px;left: 57px;">
      <span></span>
    </div>
    <div id="unit-C-01-45" class="unit" style="width: 39px;height: 37px;top: 398px;left: 57px;">
      <span></span>
    </div>
    <div id="unit-C-01-46" class="unit" style="width: 39px;height: 55px;top: 256px;left: 110px;">
      <span></span>
    </div>
    <div id="unit-C-01-47" class="unit" style="width: 39px;height: 55px;top: 357px;left: 110px;">
      <span></span>
    </div>
    <div id="unit-C-01-48" class="unit" style="width: 39px;height: 37px;top: 316px;left: 110px;">
      <span></span>
    </div>
    <div id="unit-C-01-49" class="unit" style="width:66px; height: 41px; top: 203px; left: 569px">
      <span></span>
    </div>
  </div>
</div>