<div class="floorplan-img-wrap">
  <img src="/assets/img/floorplan/12A-G.png" alt="12">
  <div class="floorplan-units-wrap">
    <div id="unit-12A-G-01" class="unit" style="top: 393px;left: 21px;width: 133px;height: 212px;">
      <span style="width: 65px;"></span>
      <span style="left: 65px;width: 67px;top: 44px;height: 168px;"></span>
    </div>

    <div id="unit-12A-G-02" class="unit" style="top: 333px;left: 406px;width: 170px;height: 272px;">
      <span style="width: 116px;top: 115px;height: 157px;"></span>
      <span style="left: 66px;width: 103px;height: 148px;"></span>
    </div>
  </div>
</div>