<div class="floorplan-img-wrap">
  <img src="./assets/img/floorplan/12A-3-9.png" alt="12A">
  <div class="nohover" style="width: 54px;height: 233px;top: 219px;left: 11px;"></div>
  <div class="nohover" style="width: 106px;height: 117px;top: 279px;left: 65px;"></div>
  <div class="nohover" style="width: 221px;height: 167px;top: 262px;left: 169px;"></div>

  <div class="floorplan-units-wrap">
    <div id="unit-{{unit}}" class="unit" style="top: 14px;left: 15px;width: 487px;height: 440px;">
      <span style="width: 58px;top: 100px;height: 90px;left: 16px;"></span>
      <span style="left: 57px;width: 93px;height: 162px;top: 100px;"></span>
      <span style="width: 317px;height: 244px;left: 110px;"></span>
      <span style="left: 427px;width: 59px;height: 183px;"></span>
      <span style="width: 48px;top: 243px;height: 116px;left: 379px;"></span>
      <span style="left: 379px;width: 107px;height: 179px;top: 357px;"></span>
      <span style="width: 336px;top: 420px;left: 57px;height: 116px;"></span>
      <span style="left: 16px;top: 455px;width: 281px;height: 180px;"></span>
      <span style="top: 386px;left: 56px;width: 76px;height: 45px;"></span>
    </div>
  </div>
</div>