<header>
  <div class="l-header">
    <!-- Logo column -->
    <div class="l-header__logo">
      <a href="#"><img class="img-logo" src="./assets/img/img-logo-tagline.png"></a>
    </div>

    <!-- Menu column -->
    <div class="l-header__menu">
      <nav class="nav--main">
        <!-- First-level nav -->
        <ul class="nav-first">
          <!-- About -->
          <li>
            <a class="nav__link first-level" href="#">About</a>
            <!-- Dropdown container -->
            <div class="l-header__dropdown">
              <div class="l-header__wrapper">
                <div class="l-header__info">
                  <h5>About</h5>
                  <p>Cyberview enables you to strengthen your base and expand your business globally.</p>
                </div>
                <div class="l-header__submenu">
                  <!-- Second-level nav -->
                  <ul class="nav-second">
                    <li><a class="nav__link second-level" href="#">Our Story</a></li>
                    <li><a class="nav__link second-level" href="#">Management</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>

          <!-- Invest -->
          <li>
            <a class="nav__link first-level" href="#">Invest</a>
            <!-- Dropdown container -->
            <div class="l-header__dropdown">
              <div class="l-header__wrapper">
                <div class="l-header__info">
                  <h5>Invest</h5>
                  <p>Cyberview enables you to strengthen your base and expand your business globally.</p>
                </div>
                <div class="l-header__submenu">
                  <!-- Second-level nav -->
                  <ul class="nav-second">
                    <li><a class="nav__link second-level" href="#">Invest in Cyberjaya</a></li>
                    <li><a class="nav__link second-level" href="#">Cyberjaya Ecosystem</a></li>
                    <li><a class="nav__link second-level" href="#">Our Investor Relations services</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>

          <!-- Industry -->
          <li>
            <a class="nav__link first-level" href="#">Industry</a>
            <!-- Dropdown container -->
            <div class="l-header__dropdown">
              <div class="l-header__wrapper">
                <div class="l-header__info">
                  <h5>Industry</h5>
                  <p>Cyberview enables you to strengthen your base and expand your business globally.</p>
                </div>
                <div class="l-header__submenu">
                  <!-- Second-level nav -->
                  <ul class="nav-second">
                    <li><a class="nav__link second-level" href="#">Overview</a></li>
                    <li>
                      <a class="nav__link second-level" href="javascript:void(0);">Living Lab</a>
                      <!-- Third-level nav -->
                      <ul class="nav-third">
                        <li><a class="nav__link" href="#">Living Lab Talent</a></li>
                        <li><a class="nav__link" href="#">Living Lab Accelerator</a></li>
                        <li><a class="nav__link" href="#">Living Lab Pilot</a></li>
                        <li><a class="nav__link" href="#">Living Lab Enterprise</a></li>
                      </ul>
                    </li>
                    <li><a class="nav__link second-level" href="#">Public - Private Collaboration</a></li>
                    <li>
                      <a class="nav__link second-level" href="javascript:void(0);">Smartcity</a>
                      <!-- Third-level nav -->
                      <ul class="nav-third">
                        <li><a class="nav__link" href="#">Link</a></li>
                        <li><a class="nav__link" href="#">Projects</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>

          <!-- Tech Hub Services -->
          <li>
            <a class="nav__link first-level" href="#">Tech Hub Services</a>
            <!-- Dropdown container -->
            <div class="l-header__dropdown">
              <div class="l-header__wrapper">
                <div class="l-header__info">
                  <h5>Tech Hub Services</h5>
                  <p>Cyberview enables you to strengthen your base and expand your business globally.</p>
                </div>
                <div class="l-header__submenu">
                  <!-- Second-level nav -->
                  <ul class="nav-second">
                    <li><a class="nav__link second-level" href="#">Link</a></li>
                    <li><a class="nav__link second-level" href="#">Link</a></li>
                    <li><a class="nav__link second-level" href="#">Link</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>

          <!-- Events & Media -->
          <li><a class="nav__link first-level" href="#">Events &amp; Media</a></li>

          <!-- Contact Us -->
          <li><a class="nav__link first-level" href="#">Contact Us</a></li>
        </ul>
      </nav>

      <!-- Mobile navi will go here -->
      <nav class="nav--mobile">
        <ul class="vertical menu" data-accordion-menu data-multi-open="false">
          <li>
            <a class="nav__link" href="#">About</a>
            <ul class="menu vertical nested">
              <li><a class="nav__link" href="#">Our Story</a></li>
              <li><a class="nav__link" href="#">Management</a></li>
            </ul>
          </li>
          <li>
            <a class="nav__link" href="#">Invest</a>
            <ul class="menu vertical nested">
              <li><a class="nav__link" href="#">Invest in Cyberjaya</a></li>
              <li><a class="nav__link" href="#">Cyberjaya Ecosystem</a></li>
              <li><a class="nav__link" href="#">Our Investor Relations Services</a></li>
            </ul>
          </li>
          <li>
            <a class="nav__link" href="#">Industry</a>
            <ul class="menu vertical nested">
              <li><a class="nav__link" href="#">Overview</a></li>
              <li>
                <a class="nav__link" href="#">Living Lab</a>
                <ul class="menu vertical nested">
                  <li><a class="nav__link" href="#">Living Lab Accelerator</a></li>
                  <li><a class="nav__link" href="#">Living Lab Enterprise</a></li>
                  <li><a class="nav__link" href="#">Living Lab Pilot</a></li>
                  <li><a class="nav__link" href="#">Living Lab Talent</a></li>
                </ul>
              </li>
              <li><a class="nav__link" href="#">Public - Private Collaboration</a></li>
              <li>
                <a class="nav__link" href="#">Smartcity</a>
                <ul class="menu vertical nested">
                  <li><a class="nav__link" href="#">Link</a></li>
                  <li><a class="nav__link" href="#">Projects</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a class="nav__link" href="#">Tech Hub Services</a></li>
          <li><a class="nav__link" href="#">Events &amp; Media</a></li>
          <li><a class="nav__link" href="#">Contact Us</a></li>
        </ul>
      </nav>
    </div>

    <!-- Hamburger buttton -->
    <div class="l-header__hamburger">
      <button class="button-menu" type="button"><i class="icon-menu"></i></button>
    </div>

    <!-- Search column -->
    <div class="l-header__search">
      <button class="button-search"><i class="icon-search"></i></button>
    </div>
  </div>
</header>
