<div class="content-box">
  <div class="columns">
    <div class="milestone">
      <span class="milestone__label">Start</span>
      <div class="milestone__timeline">

        <div class="milestone__row">
          <div class="milestone__wrapper">
            <div class="milestone__content">
              <div class="milestone__content__image">
                <img src= "http://placehold.it/100x100">
              </div>
              <div class="milestone__content__description">
                <h4>Heading</h4>
                <h5>1996</h5>
                <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="milestone__row">
          <div class="milestone__wrapper">
            <div class="milestone__content">
              <div class="milestone__content__image">
                <img src= "http://placehold.it/200x100">
              </div>
              <div class="milestone__content__description">
                <h4>Heading</h4>
                <h5>2000</h5>
                <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="milestone__row">
          <div class="milestone__wrapper">
            <div class="milestone__content">
              <div class="milestone__content__description">
                <h4>Heading</h4>
                <h5>2005</h5>
                <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <span class="milestone__label">Now</span>
    </div>
  </div>
</div>
