
<div class="l-tiles--partnership">

    <div class="content-box">
      <div class="columns--headline">
        <h2>The partner to push you further</h2>
        <p>Numbers say it all. As your partner, we empower Cyberjaya with a holistic ecosystem and provide business setup support for all levels.</p>
        <a href="#" class="button">Partner with us</a>
      </div>

      <div class="columns">
        <div class="tiles--partner">
          <img src="/assets/img/icon-mind.png" />
          <span class="tiles__stats">86,000</span>
          <span class="tiles__keyword">Brilliant Minds</span>
        </div>
      </div>

      <div class="columns">
        <div class="tiles--partner">
          <img src="/assets/img/icon-business.png" />
          <span class="tiles__stats">1275</span>
          <span class="tiles__keyword">Thriving Businesses</span>
        </div>
      </div>

      <div class="columns">
        <div class="tiles--partner">
          <img src="/assets/img/icon-investment.png" />
          <span class="tiles__stats">RM35B</span>
          <span class="tiles__keyword">Strong Investments</span>
        </div>
      </div>

      <div class="columns">
        <div class="tiles--partner">
          <img src="/assets/img/icon-startup.png" />
          <span class="tiles__stats">429</span>
          <span class="tiles__keyword">Startups</span>
        </div>
      </div>

      <div class="columns">
        <div class="tiles--partner">
          <img src="/assets/img/icon-mnc.png" />
          <span class="tiles__stats">506</span>
          <span class="tiles__keyword">MNCs</span>
        </div>
      </div>

      <div class="columns">
        <div class="tiles--partner">
          <img src="/assets/img/icon-enterprise.png" />
          <span class="tiles__stats">815</span>
          <span class="tiles__keyword">Enterprise</span>
        </div>
      </div>
    </div>
  </div>
</div>
