<div class="l-services">
  <div class="columns">
    <div class="tiles">
      <div class="tiles__bg"></div>
      <div class="tiles__content">
        <span class="success label">Invest</span>
        <h4>The Drive Your Business Needs</h4>
        <a href="#">Connect with us</a>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="tiles">
      <div class="tiles__bg"></div>
      <div class="tiles__content">
        <span class="success label">Industry R&amp;D</span>
        <h4>A Living Lab for Innovations</h4>
        <a href="#">Invent with us</a>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="tiles">
      <div class="tiles__bg"></div>
      <div class="tiles__content">
        <span class="success label">Tech Hub</span>
        <h4>Shaping The Landscape of Technology</h4>
        <a href="#">Build with us</a>
      </div>
    </div>
  </div>
</div>
